.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url("../img/bg/bg2.jpg") center (center/cover) no-repeat;
    &__desc {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 80px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: #fff;
    }
}