@media (max-width: 1200px) {
	.container {
		max-width: 850px; 
	}
}

@media (max-width: 991px) {
    .container {
		max-width: 750px; 
	}
	.promo {
		min-height: 150px;
		padding-bottom: 40px;
		&__wrapper {
			margin-top: 60px;
		}
		&__icons{
			margin-top: 40px;
		}
	}
	.advantages{
		&__icons {
			margin-top: 40px;
			width: 767px;  
		}
		&__icon{
			width: 220px;
		}
	}
	.title{
		font-size: 30px;
	}
	.consultation {
		min-height: 150px;
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.carousel {
		padding: 40px;
		.container{
			width: 600px;
		}
		.tns-item {
			img {
				width: 600px;
			}
		}
	}
	.catalog {
		padding-bottom: 30px;
		&__tabs {
			margin-top: 30px;
		}
		&__content{
			margin-top: 30px;
		}
	}
	.reviews {
		&__block {
			width: 700px;
			margin-top: 30px;
			// flex-wrap: wrap;
		}
		&__round {
			margin-left: 20px;
			margin-right: 30px;
		}
		&__text {
			font-size: 14px;
		}
	}
	.footer {
		&__info {
			height: 170px;
			width: 300px;
			padding: 20px;
		}
		&__addr{
			font-size: 15px;
			margin-bottom: 20px;
		}
		&__phone {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 767px){
    .container {
        max-width: 550px; 
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            span{
            font-size: 16px;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 30px;
            margin-bottom: 0;
        }
        &__subheader {
            font-size: 15px;
            margin-top: 5px;
        }
        &__icons{
            margin-top: 30px;
            width: 380px;
        }
    }
    .button {
        //В этом может быть проблема с кнопками
        width: 126px;
    }
    .button_main {
        margin-top: 40px;
        width: 300px;
	}
	.advantages {
		padding-top: 30px;
		padding-bottom: 30px;
		&__icon{
			margin-bottom: 20px;
			img{
				margin-bottom: 15px;
			}
			&__text {
				margin-top: 8px;
			}
		}
		&__icons {
			margin-top: 20px;
			align-items: center;
			flex-direction: column;
			width: 247px;
		}
	}
	.title{
		font-size: 25px;
	}
	.consultation {
		padding-top: 30px;
		&__desc {
			margin-top: 40px;
		}
	}
	.button_submit {
		width: 300px;
	}
	.carousel {
		.container{
			width: 500px;
		}
		.tns-item {
			img {
				width: 500px;
			}
		}
		.prev, .next  {
			display: none;
		}
	}
	.catalog {
		&__tab {
			width: 10px;
		}
	}
	.reviews{
		&__block {
			width: 550px;
		}
		&__round {
			margin-left: 10px;
			margin-right: 30px;
			img {
				width: 120px;
            	height: 120px;
			}
		}
	}
	.footer {
		height: 500px;
		iframe{
			height: 500px;
		}
	}
}

@media (max-width: 575px){
    .container {
        max-width: 300px; 
    }
    .header {
        &__logo {
            width: 160px;
        }
        &__official {
            display: none;
        }
        
    }
    .promo {
        &__wrapper {
            margin-top: 15px;
        }
        padding-bottom: 20px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 13px;
            margin-top: 0px;
        }
        &__icons{
            margin-top: 30px;
            width: 300px;
        }
        &__icon{
            width: 80px;
            font-size: 10px;
            img{
                margin-bottom: 10px;
            }
        }
        &__link{
            font-size: 12px;
        }
    }
    .button_main {
        margin-top: 20px;
	}
	.title{
		font-size: 23px;
	}
	.consultation {
		padding-top: 30px;
		padding-bottom: 30px;
		.title_left {
			text-align: center;
			text-align-last: center;
		}
		&__desc {
			margin-top: 20px;
			font-size: 16px;
			text-align: center;
		}
		#consultation-form {
			margin: 0 auto;
			margin-top: 36px;
		}
	}
	.title_left{
		text-align: left;
		line-height: 30px;
	}
	.carousel {
		padding: 10px;
		padding-top: 40px;
		.container{
			width: 300px;
		}
		.tns-item {
			img {
				width: 300px;
				margin: 0 0;
			}
		}
	}
	.pageup{
		right: 10px;
	}
	.catalog {
		
		&__tab {
			font-size: 10px;
			width: 90px;
			margin: 0 2px;
		}
		&__content{
			margin-top: 30px;
		}
	}
	.reviews {
		&__block {
			width: 300px;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}
		&__round {
			margin-left: 10px;
			margin-right: 30px;
			img {
				width: 120px;
            	height: 120px;
			}
		}
		&__author {
			margin-top: 20px;
			text-align: center;
		}
		&__subtitle {
			text-align: center;
		}
		&__text {
			text-align: center;
		}
	}
	.overlay {
		.modal {
			padding: 10px;
			width: 300px;
			&__close {
				top: 5px;
        		right: 5px;	
			}
		}
	}
	.feed-form {
		width: 280px;	
	}
	.button_submit {
		width: 280px;
	}
	
}

// @media (max-width: 319px){

// }