.reviews{
    min-height: 1050px;
    &__block {
        width: 900px;
        min-height: 224px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 53px;
        margin-bottom: 50px;
    }
    &__round {
        margin-right: 62px;
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__review{
        width: 670px;
        min-height: 111px;
    }
    &__author {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 19px;
    }
    &__text {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
    hr {
        background-color: #e8e8e8;
        border-top: none;
    }
}