.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align-last: left;
        line-height: 43px;
    }
}