body {
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 0px;
}

/* #allcontent{
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #675c47;
    margin-left: auto;
    margin-right: auto;
} */

header.top {
	background-color: #675c47;
	margin: 10px 10px 0px 10px;
	height: 108px;
}

header.top #headerSlogan{
	float: right;
}

#award{
	position: absolute;
	top: 30px;
	left: 465px;
}

#tableContainer {
	display: table;
	border-spacing: 10px;
}

#tableRow {
	display: table-row;
}

#drinks {
	display: table-cell;
	background-color: #efe5d0;
	width: 20%;
	padding: 15px;
	vertical-align: top;
}

#coupon {
	position: relative;
	top: 0px;
    left: -90px;
    width: 135px;
}

#coupon a, img {
	border: none;
}

#main, #blog {
	display: table-cell;
	background: #efe5d0 url(images/background.gif) top left;
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
	/* margin:           0px 10px 10px 10px; */
	/* width: 420px;
  float: left; */
}

aside {
	display: table-cell;
	background: #efe5d0 url(images/background.gif) bottom right;
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
	/* margin:           0 10px 10px 10px; */
	/* position: absolute;
  top: 128px;
  right: 0;
  width: 280px;
  width: 280px;
  float: right; */
}

footer {
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	padding: 15px;
	margin: 0px 10px 10px 10px;
	font-size: 90%;
	/* clear: left; */
}

h1 {
	font-size: 120%;
	color: #954b4b;
}

h2{
    font-size: 110%;
}

.slogan {
	color: #954b4b;
}

.beanheading {
	text-align: center;
	line-height: 1.8em;
}

a:link {
	color: #b76666;
	text-decoration: none;
	border-bottom: thin dotted #b76666;
}

a:visited {
	color: #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47;
}

nav {
    background-color: #efe5d0;
    margin: 10px 10px 0 10px;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 5px 0 5px 5px;
}

nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: #954b4b;
    border-bottom: none;
    font-weight: bold;
}

nav ul li.selected {
    background-color: #c8b99c;
}