@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.divider{
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/title';
@import 'blocks/button';

@import 'blocks/menu';
@import 'blocks/sidepanel';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/progress';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/media';
