body {
    background-color: #fefde1;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10pt;
}

h1 {
    color: rgb(204,0,0);
    font-size: 12pt;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 12px;
    font-weight: bold;
}

p {
    font-size: 10pt;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.i {
    font-style: italic;
}

.upper {
    text-transform: uppercase;
}