.price{
    padding-top: 120px;
    &__wrapper{
        padding: 60px 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2, 365px);
        grid-template-rows: repeat(3, minmax(45px, auto));
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
        gap: 15px 0;
    }
    &__item{
        margin-left: 25px;
        &-top{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;
            @include before_circle;
            &:before{
                width: 15px;
                height: 15px;
                left: -25px;
                top: 3px;
            }
        }
    }
    &__descr{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
    }
}