
.promo{
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title{
        max-width: 535px;
        margin-top: 10px;
    }
    &__subtitle{
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
    }
    &__btns{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;
    }
    &__link{
        color: #000;
        font-weight: bold;
        padding: 12px 25px;
        transition: all .6s;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}