.resume{
    padding-top: 120px;
    &__wrapper{
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        gap: 0 135px;
    }
    &__column{
        &-title{
            position: relative;
            padding-left: 35px;
            &:before{
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
            }
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &:after{
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    background-color: #000;
                }
            }
        }
    }
    &__item{
        position: relative;
        &:before{
            content: '';
            height: 1px;
            width: 45px;
            position: absolute;
            top: 68px;
            background-color: #000;
        }
        &-head{
            padding: 45px 0 0 100px;
            position: relative;
        }
        &-body{
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon{
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            img{
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location{
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
        &-body{
            font-size: 12px;
            line-height: 18px;
        }
    }
}