.skills{
    padding-top: 120px;
    &__wrapper{
        margin: 0 auto;
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        grid-auto-columns: 270px;
        gap: 13px;
        justify-content: center;
    }
    &__card{
        border: 1px solid #000000;
        padding: 30px 30px 25px 30px;
    }
    &__title{
        padding-top: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__descr{
        padding-top: 15px;
        font-size: 12px;
        line-height: 18px;
    }
}