

/*Nice select*/
.nice-select {
    width: 100%;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #222222;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
}

.nice-select.open .list{
    background: #FFFFFF;
    border: 1px solid rgba(34, 34, 34, 0.1);
    box-shadow: 0px 4px 16px rgba(34, 34, 34, 0.1);
    border-radius: 24px;
    width: 100%;
    margin-top: 8px;
    padding: 24px 0;
    z-index: 90;
}

.nice-select.open .list > li{
    padding: 0 25px;
}

.nice-select.open .list > li:hover{
    background-color: rgba(207, 195, 179, 0.16);
}

.nice-select:after {
    content: url(assets/img/svg/tool_trangle.svg);
    border-bottom: none; 
    border-right: none;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    top: unset;
    display: inline;
    height: auto;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    margin-top: 0;
    right: 24px;
}

.nice-select.open:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wpcfs-input:after {
    content: '';
}

@media (min-width: 690px){
    .news-filter form > .wpcfs-input-input, .news_page_title .filter form > .wpcfs-input-input {
        width: 100%;
    }
    
    .news-filter form, .news_page_title .filter form {
        width: 470px;
    }
}

/*Nice select*/

/*Header logo fix*/
a.header_logo{
    display: block;   
}
/*Header logo fix*/

/*Submit a request for participation*/
@media (max-width: 575px){
    .books .block_right button {
        margin-top: 20px;
    }
}
/*Submit a request for participation*/

/*Modal form*/
div.modalAdd {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.modalAdd .modal-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    margin-bottom: 44px;
}

div.modalAdd input.form-control, div.modalAdd .modal-input > span {
    margin: 0;
}

div.modalAdd .modal-input {
    margin-bottom: 10px;
}

div.modalAdd .modal-input + p {
    width: 100%;
}

div.modalAdd .modalAdd.dark_btn {
    width: 100%;
    margin-top: 44px;
}

#addClub > .modal-dialog, #addBook > .modal-dialog{
    padding: 40px;
    min-width: 458px;
    max-width: 458px;
}

@media (max-width: 690px){
    #addClub > .modal-dialog, #addBook > .modal-dialog{
        padding: 32px;
        min-width: 384px;
        max-width: 384px;
        margin: 25% auto;
    }
}

@media (max-width: 450px){
    #addClub > .modal-dialog, #addBook > .modal-dialog{
        min-width: 100%;
        max-width: 100%;
    }
}
/*Modal form*/

/*Blocks headers*/
.events .header_block h2, .slider .header_block h2 {
    top: -80px;
}

.map .header_block{
    top: 160px;
}
/*Blocks headers*/

/*Index event block mobile*/
@media (max-width: 370px){
    .events .header_block {
        margin: 0;
    }
    
    .events .header_block h2 {
        font-size: 34px;
    }
}
/*Index event block mobile*/

/*Book image behind filter*/
@media (max-width: 500px){
    .news_page_title .bg_img {
        width: 95%; 
    }
}
/*Book image behind filter*/

/*Books header*/
.books_page_title .books_title {
    margin-bottom: 80px;
}
/*Books header*/

/*Books tooltips*/
.tool {
    pointer-events: none;
}

.tool > .tool_content > a {
    pointer-events: all;
}

.slide_card:hover > .tool {
    display: block;
}

@media (max-width: 767px){
    .tool {
        top: -50px;
    }
}

@media (min-width: 767px){
    .tool {
        top: 0%;
    }
    
    .tool > .tool_content {
        height: auto;
    }
    
    .tool > .tool_content > a {
        position: absolute;
        left: -66%;
        top: 43%;
        width: 50%;
        background-color: rgb(50 50 50 / 50%);
    }
    
    .swiper-slide:last-child > .tool{
        left: unset;
        right: 100%;
    }
    
    .swiper-slide:last-child > .tool > img {
        transform: translateX(276px) rotate(180deg);
    }
    
    .swiper-slide:last-child > .tool > .tool_content > a{
        left: 325px;
        /*right: -75px;*/
    }
}
/*Books tooltips*/

/*News filter*/
@media (min-width: 576px){
    .news-filter form .wpcfs-input {
        width: 100%;
        padding-right: 10px;
    }
    
    .news-filter form select:after {
        right: 20px;
    }
}
/*News filter*/


/*Header*/
@media (max-width: 991px){
    header .container{
        padding-bottom: 8px;
    }
}
/*Header*/

/* Index swiper slider*/
@media (max-width: 990px){
    .swiper .swiper-slide {
        max-width: 640px;
    }
}

@media (min-width: 990px){
    .swiper .swiper-slide {
        width: auto !important;
        max-width: 640px;
    }
}

@media (max-width: 768px){
    .slider > .container {
        max-width: 100%;
    }
    
    .slider .header_block {
        margin-left: 0;
    }
}

/* Index swiper slider*/

.prevent-body-scroll {
    overflow-y: hidden;
}

.accordion-background {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    background: #222;
    opacity: 0.1;
    overflow: hidden;
    z-index: -1;
}

.HOVER:hover > span {
    background: #E9E9E9;
}
.HOVER:hover,.dark_btn:hover {
    border-color: #E9E9E9;
    background: #E9E9E9;
}
.modal-body .modal_btn .dark_btn:hover{
    border-color: #E9E9E9;
    background: #E9E9E9;
}

.wpcfs-search-preset,.wpcfs-search-preset-1{
    width: 100%;
}

.wpcfs-search-preset,.wpcfs-search-preset-1 > .wpcfs-preset{
    width: 100%;
}

.wpcfs-search-preset,.wpcfs-search-preset-1 > .wpcfs-preset > form{
    width: 100%;
    justify-content: space-between;
}

.wpcfs-search-preset,.wpcfs-search-preset-1 > .wpcfs-preset > form > .wpcfs-input-input {
    width: 100%;
}

@media (max-width: 768px){
    header .accordion-body .img_block {
        top: auto;
    }
    .header_logo {
        margin-left: 25%;
    }
    
    .news_detail {
        padding: 0;
        margin-bottom: 80px;
    }
    
    .detail_page > img {
        margin-bottom: 80px;
    }
    
    .detail_page + footer {
        padding-top: 48px;
    }
    
    .tooltip {
        display: none;
    }
}

@media (max-width: 1199px){
    .events .block_left, .events .block_right {
        padding: 32px;
    }
    
    header .accordion-body {
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    header .accordion-body .container {
        padding-bottom: 0;
        
    } 
}

@media (min-width: 1600px){
    .swiper_book, .swiper_special {
        padding-left: 260px;
    }
}

@media (max-width: 1116px){
    
    .wpcfs-input:after {
        top: 20px;
    }
    
    #header .row {
        align-items: center;
    }
    
    footer .footer_links {
        margin-bottom: 48px;
    }
    
    footer .contacts {
        max-width: 50%;
    }
    
    .tag .tag_content .tag_buttons {
        align-items: center;
    }
    
    .tag .tag_content button {
        width: fit-content;
    }
    
    .events_cards > .container > .row {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .events_cards > .container > .row > .col-12 {
        padding: 0 15px;
    }
    
    .news_page_title, .events_page_title, .filter_page_title, .books_page_title{
        padding: 0 15px;
    }
    
    .news_card, .events_card {
        margin-bottom: 24px;
    }
    
    .filter_cover {
        width: 94%;
    }
}

@media (max-width: 576px){
    .contact_content .contact_phone {
        margin-bottom: 64px;
    }
    
    .contact_dop {
        margin-bottom: 40px;
    }
    
    .contact_content .left_block, .contact_content .right_block {
        margin-bottom: 0;
    }
    
    .contact_networks {
        margin-bottom: 80px;
    }
    
    .filter,.news-filter .wpcfs-search-form,
    .news_page_title .filter .wpcfs-search-form {
        flex-direction: column;
        width: 100%;
    }
    
    .filter,.news-filter .filter_cover {
        margin: 0;
        width: 100%;
    }
    
    .modal-body > .btn-close {
        top: -100px;
        right: -34px;
    }
    
    .modal.show {
        display: flex;
        padding: 0 15px;
        justify-content: center;
    }
    
    .modal.show .modal-dialog {
        max-width: unset;
        min-width: unset;
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
        padding: 32px;
    }
    
    .modal.show .modal-body .modal_btn a {
        display: block;
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .modal.show .modal-body .modal_btn {
        width: fit-content;
        flex-direction: column;
    }
    
    .modal.show .modal-body .modal_btn a:last-child {
        margin-bottom: 0px;
    }
}

@media (max-width: 991px){
    footer .footer_top, footer .footer_bottom {
        padding: 0;
    }
}